<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= projectName %></title>
    <meta name="description" content="Basic website">
    <meta name="author" content="Daniel Fortes">

    <!-- Normalize CSS styles -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.css">

    <!-- Bundled builded CSS -->
    <link rel="stylesheet" type="text/css" href="/bundle/buildBundle.css">

    <!-- Used for autoreload -->
    <script src="http://127.0.0.1:9091"></script>
    
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
  </head>

  <body>

    <h1><%= projectName %></h1>

    <!-- Load bundled webpack built script -->
    <script src="/bundle/buildBundle.js"></script>
  </body>
</html>
